In [1]:
cd "C:\Users\zahra\Desktop"

C:\Users\zahra\Desktop

In [2]:
import h5py
import numpy as np
import pandas as pd
f = h5py.File('groups_135.Subhalo.SubhaloPos.hdf5' , 'r') #data includes galaxy position in simulation box for 135th snapshot
head_subhalo = f['Subhalo']
data_subhalo = head_subhalo['SubhaloPos']
X_pos_subhalo = data_subhalo[:,0]
Y_pos_subhalo = data_subhalo[:,1]
Z_pos_subhalo = data_subhalo[:,2]
a = pd.DataFrame(data_subhalo[:,:] , columns = 'X_coordinate Y_coordinate Z_coordinate'.split()) #converting hdf5 to pandas dataframe
a.head(10)

   X_coordinate  Y_coordinate  Z_coordinate
0    900.425293  26286.689453  18321.949219
1    181.120392  24638.792969  16896.896484
2    826.923584  26747.314453  17363.390625
3   1492.193726  26514.935547  19381.691406
4    839.730957  26543.013672  15552.993164
5    267.409637  26475.843750  15855.078125
6    963.795166  26495.972656  17794.994141
7   1171.580200  26447.220703  18336.576172
8  74993.562500  24189.980469  16774.009766
9   1632.506470  25474.320312  18378.683594

In [3]:
import h5py
import numpy as np
import pandas as pd
f = h5py.File('groups_135.Subhalo.SubhaloPos.hdf5' , 'r') #data includes galaxy position in simulation box for 135th snapshot
head_subhalo = f['Subhalo']
data_subhalo = np.array(head_subhalo['SubhaloPos'])
position = pd.DataFrame(data_subhalo)
position.columns = ['x' , 'y' , 'z']
position.head(10)

              x             y             z
0    900.425293  26286.689453  18321.949219
1    181.120392  24638.792969  16896.896484
2    826.923584  26747.314453  17363.390625
3   1492.193726  26514.935547  19381.691406
4    839.730957  26543.013672  15552.993164
5    267.409637  26475.843750  15855.078125
6    963.795166  26495.972656  17794.994141
7   1171.580200  26447.220703  18336.576172
8  74993.562500  24189.980469  16774.009766
9   1632.506470  25474.320312  18378.683594

In [4]:
def process(position):
    position['x_b'] = np.floor(position['x']/(75000/100))
    position['y_b'] = np.floor(position['y']/(75000/100))
    position['z_b'] = np.floor(position['z']/(75000/100))
    position['x_b'] = position['x_b'].astype(int)
    position['y_b'] = position['y_b'].astype(int)
    position['z_b'] = position['z_b'].astype(int)
    
    
    return position
    
position = process(position)
position['c'] = 1
position.head(10)

              x             y             z  x_b  y_b  z_b  c
0    900.425293  26286.689453  18321.949219    1   35   24  1
1    181.120392  24638.792969  16896.896484    0   32   22  1
2    826.923584  26747.314453  17363.390625    1   35   23  1
3   1492.193726  26514.935547  19381.691406    1   35   25  1
4    839.730957  26543.013672  15552.993164    1   35   20  1
5    267.409637  26475.843750  15855.078125    0   35   21  1
6    963.795166  26495.972656  17794.994141    1   35   23  1
7   1171.580200  26447.220703  18336.576172    1   35   24  1
8  74993.562500  24189.980469  16774.009766   99   32   22  1
9   1632.506470  25474.320312  18378.683594    2   33   24  1

In [5]:
counts = position.groupby(['x_b' , 'y_b' , 'z_b'])['c'].count().reset_index(name = "count")
counts.head(180)
print(position.shape)
print(counts.shape)

(121209, 7)
(73908, 4)

In [6]:
def dataframe_to_array(data , shape):
    ids = np.ravel_multi_index(data[['x_b' , 'y_b' , 'z_b']].values.T , shape)
    val = data['count'].values
    return np.bincount(ids , val , minlength = np.prod(shape)).reshape(shape)
arr_subhalo = dataframe_to_array(counts , (100,100,100))

print(arr_subhalo.shape)

(100, 100, 100)

In [7]:
cd "C:\Users\zahra\Desktop"

C:\Users\zahra\Desktop

In [8]:
import h5py    #data includes dark matter position in simulation box. goal of the project is mapping between darkmatter position and galaxy position 
import numpy as np
#we have 8 hdf5 files. we upload it and then merge it
f = h5py.File('new1.h5' , 'r')
head = f['DM']
data = head['Coordinates0']
X_pos_0 = data[:,0]
Y_pos_0 = data[:,1]
Z_pos_0 = data[:,2]

data = head['Coordinates1']
X_pos_1 = data[:,0]
Y_pos_1 = data[:,1]
Z_pos_1 = data[:,2]

data = head['Coordinates2']
X_pos_2 = data[:,0]
Y_pos_2 = data[:,1]
Z_pos_2 = data[:,2]

data = head['Coordinates3']
X_pos_3 = data[:,0]
Y_pos_3 = data[:,1]
Z_pos_3 = data[:,2]

data = head['Coordinates4']
X_pos_4 = data[:,0]
Y_pos_4 = data[:,1]
Z_pos_4 = data[:,2]

data = head['Coordinates5']
X_pos_5 = data[:,0]
Y_pos_5 = data[:,1]
Z_pos_5 = data[:,2]

data = head['Coordinates6']
X_pos_6 = data[:,0]
Y_pos_6 = data[:,1]
Z_pos_6 = data[:,2]

data = head['Coordinates7']
X_pos_7 = data[:,0]
Y_pos_7 = data[:,1]
Z_pos_7 = data[:,2]

In [9]:
#merging hdf5 files
X_pos = np.hstack((X_pos_0,X_pos_1,X_pos_2,X_pos_3,X_pos_4,X_pos_5,X_pos_6,X_pos_7))
Y_pos = np.hstack((Y_pos_0,Y_pos_1,Y_pos_2,Y_pos_3,Y_pos_4,Y_pos_5,Y_pos_6,Y_pos_7))
Z_pos = np.hstack((Z_pos_0,Z_pos_1,Z_pos_2,Z_pos_3,Z_pos_4,Z_pos_5,Z_pos_6,Z_pos_7))

In [10]:
import pandas as pd
dm_data = {'X' : X_pos , 'Y' : Y_pos , 'Z' : Z_pos} 
df_dm = pd.DataFrame(data = dm_data)
df_dm.head()

            X             Y             Z
0  860.278625  26320.939453  18281.757812
1  862.896790  26320.160156  18283.193359
2  859.645874  26324.167969  18280.250000
3  861.843018  26322.359375  18286.849609
4  860.395447  26319.984375  18284.232422

In [11]:
def process(data):
    data['x_b'] = np.floor(data['X']/(75000/100))
    data['y_b'] = np.floor(data['Y']/(75000/100))
    data['z_b'] = np.floor(data['Z']/(75000/100))
    data['x_b'] = data['x_b'].astype(int)
    data['y_b'] = data['y_b'].astype(int)
    data['z_b'] = data['z_b'].astype(int)
    
    
    return data
    
dm_data = process(df_dm)
dm_data['c'] = 1
dm_data.head(10)

            X             Y             Z  x_b  y_b  z_b  c
0  860.278625  26320.939453  18281.757812    1   35   24  1
1  862.896790  26320.160156  18283.193359    1   35   24  1
2  859.645874  26324.167969  18280.250000    1   35   24  1
3  861.843018  26322.359375  18286.849609    1   35   24  1
4  860.395447  26319.984375  18284.232422    1   35   24  1
5  862.295593  26322.332031  18286.097656    1   35   24  1
6  860.981873  26320.837891  18278.978516    1   35   24  1
7  862.746643  26323.728516  18281.339844    1   35   24  1
8  862.724243  26319.615234  18281.880859    1   35   24  1
9  858.579590  26325.712891  18279.990234    1   35   24  1

In [12]:
def process(data):
    data['x_b'] = np.floor(data['X']/(75000/100))
    data['y_b'] = np.floor(data['Y']/(75000/100))
    data['z_b'] = np.floor(data['Z']/(75000/100))
    data['x_b'] = data['x_b'].astype(int)
    data['y_b'] = data['y_b'].astype(int)
    data['z_b'] = data['z_b'].astype(int)
    
    
    return data
    
dm_data = process(df_dm)
dm_data['c'] = 1
dm_data.head(10)

            X             Y             Z  x_b  y_b  z_b  c
0  860.278625  26320.939453  18281.757812    1   35   24  1
1  862.896790  26320.160156  18283.193359    1   35   24  1
2  859.645874  26324.167969  18280.250000    1   35   24  1
3  861.843018  26322.359375  18286.849609    1   35   24  1
4  860.395447  26319.984375  18284.232422    1   35   24  1
5  862.295593  26322.332031  18286.097656    1   35   24  1
6  860.981873  26320.837891  18278.978516    1   35   24  1
7  862.746643  26323.728516  18281.339844    1   35   24  1
8  862.724243  26319.615234  18281.880859    1   35   24  1
9  858.579590  26325.712891  18279.990234    1   35   24  1

In [13]:
counts = dm_data.groupby(['x_b' , 'y_b' , 'z_b'])['c'].count().reset_index(name = "count")
print(counts.shape)
print(dm_data.shape)

(999941, 4)
(94196375, 7)

In [14]:
def dataframe_to_array(data , shape):
    ids = np.ravel_multi_index(data[['x_b' , 'y_b' , 'z_b']].values.T , shape)
    val = data['count'].values
    return np.bincount(ids , val , minlength = np.prod(shape)).reshape(shape)
dm_arr = dataframe_to_array(counts , (100,100,100))
print(dm_arr.shape)

(100, 100, 100)

In [17]:

X = np.zeros((125000,8))
Y = np.zeros((125000,1))

l = 0
m = 0
for i in range(0,98,2):
    for j in range(0,98,2):
        for k in range(0,98,2):
            X [l,:] = dm_arr[i:i +2 , j: j +2 , k:k+2].flatten()
            Y [l,0] = arr_subhalo[i+1 , j+1 , k+1]
            l +=1

In [18]:
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test = train_test_split(X,Y, random_state = 0)

In [19]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(93750, 8)
(93750, 1)
(31250, 8)
(31250, 1)

In [20]:
from sklearn.ensemble import RandomForestRegressor
randfor = RandomForestRegressor()
randfor.fit(X_train,Y_train)

C:\Users\zahra\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\zahra\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [21]:
print(randfor.score(X_train,Y_train))
print(randfor.score(X_test,Y_test))

0.9546593632506011
0.7101093502060312

In [22]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()
tree.fit(X_train,Y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [23]:
print(tree.score(X_train,Y_train))
print(tree.score(X_test,Y_test))

1.0
0.5589250908853418

In [24]:
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(X_train,Y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [25]:
print(ridge.score(X_train,Y_train))
print(ridge.score(X_test,Y_test))

0.5891117245638297
0.48681687745039093

In [26]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()
knn.fit(X_train,Y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [27]:
print(knn.score(X_train,Y_train))
print(knn.score(X_test,Y_test))

0.7917753390134805
0.6259120343683906

In [29]:
from sklearn.dummy import DummyRegressor

In [31]:
dummy = DummyRegressor(strategy = 'mean')
dummy.fit(X_train,Y_train)
print(dummy.score(X_train,Y_train))
print(dummy.score(X_test,Y_test))

0.0
-4.730711675282606e-06

In [38]:
dummy2 = DummyRegressor(strategy = 'median')
dummy2.fit(X_train,Y_train)
print(dummy2.score(X_train,Y_train))
print(dummy2.score(X_test,Y_test))

-0.03235772033423756
-0.03263784751241561

In [40]:
dummy3 = DummyRegressor(strategy = 'constant' , constant = np.zeros((1,1)))
dummy3.fit(X_train,Y_train)
print(dummy2.score(X_train,Y_train))
print(dummy2.score(X_test,Y_test))

-0.03235772033423756
-0.03263784751241561