<a href="https://colab.research.google.com/github/sraeisi/MLP19-Comsology_group/blob/zahrabaghkhani-patch-1/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
def get(path):
    headers = {"api-key":"0d4b1b3b7fffcb0819f78ddbf8a8209e"}
    r = requests.get(path,  headers=headers)
    r.raise_for_status()
    if r.headers['content-type'] == 'application/json':
        return r.json()
    if 'content-disposition' in r.headers:
        filename = r.headers['content-disposition'].split("filename=")[1]
        with open(filename, 'wb') as f:
            f.write(r.content)
        return filename
    return r

In [0]:
url = "http://www.illustris-project.org/api/Illustris-3/files/groupcat-135/?Subhalo=SubhaloPos"
data = get2(url)
import h5py
subhalo_data = h5py.File(data,'r')

In [75]:
head_subhalo = subhalo_data['Subhalo']
data_subhalo = np.array(head_subhalo['SubhaloPos'])
print(data_subhalo.shape)
position = pd.DataFrame(data_subhalo)
position.columns = ['x' , 'y' , 'z']
position.head(10)

(111992, 3)

              x             y             z
0    900.425293  26286.689453  18321.949219
1    181.120392  24638.792969  16896.896484
2    826.923584  26747.314453  17363.390625
3   1492.193726  26514.935547  19381.691406
4    839.730957  26543.013672  15552.993164
5    267.409637  26475.843750  15855.078125
6    963.795166  26495.972656  17794.994141
7   1171.580200  26447.220703  18336.576172
8  74993.562500  24189.980469  16774.009766
9   1632.506470  25474.320312  18378.683594

In [76]:
def process(position):
    position['x_b'] = np.floor(position['x']/(75000/100))
    position['y_b'] = np.floor(position['y']/(75000/100))
    position['z_b'] = np.floor(position['z']/(75000/100))
    position['x_b'] = position['x_b'].astype(int)
    position['y_b'] = position['y_b'].astype(int)
    position['z_b'] = position['z_b'].astype(int)
    
    
    return position
    
position = process(position)
position['c'] = 1
position.head(10)

              x             y             z  x_b  y_b  z_b  c
0    900.425293  26286.689453  18321.949219    1   35   24  1
1    181.120392  24638.792969  16896.896484    0   32   22  1
2    826.923584  26747.314453  17363.390625    1   35   23  1
3   1492.193726  26514.935547  19381.691406    1   35   25  1
4    839.730957  26543.013672  15552.993164    1   35   20  1
5    267.409637  26475.843750  15855.078125    0   35   21  1
6    963.795166  26495.972656  17794.994141    1   35   23  1
7   1171.580200  26447.220703  18336.576172    1   35   24  1
8  74993.562500  24189.980469  16774.009766   99   32   22  1
9   1632.506470  25474.320312  18378.683594    2   33   24  1

In [77]:
counts = position.groupby(['x_b' , 'y_b' , 'z_b'])['c'].count().reset_index(name = "count")
counts.head(180)
print(position.shape)
print(counts.shape)

(111992, 7)
(68353, 4)

In [79]:
def dataframe_to_array(data , shape):
    ids = np.ravel_multi_index(data[['x_b' , 'y_b' , 'z_b']].values.T , shape)
    val = data['count'].values
    return np.bincount(ids , val , minlength = np.prod(shape)).reshape(shape)
arr_subhalo = dataframe_to_array(counts , (100,100,100))

print(arr_subhalo.shape)

(100, 100, 100)

In [0]:

def get2(path, params=None):
    headers = {"api-key":"0d4b1b3b7fffcb0819f78ddbf8a8209e"}
    r = requests.get(path, params=params, headers=headers)
    r.raise_for_status()
    if r.headers['content-type'] == 'application/json':
        return r.json()
    if 'content-disposition' in r.headers:
        filename = r.headers['content-disposition'].split("filename=")[1]
        with open(filename, 'wb') as f:
            f.write(r.content)
        return filename
    return r

params = {'dm':'Coordinates'}


url_dm0 = "http://www.illustris-project.org/api/Illustris-3-dark/files/snapshot-135.0.hdf5"

url_dm1 = "http://www.illustris-project.org/api/Illustris-3-dark/files/snapshot-135.1.hdf5"
url_dm2 = "http://www.illustris-project.org/api/Illustris-3-dark/files/snapshot-135.2.hdf5"
url_dm3 = "http://www.illustris-project.org/api/Illustris-3-dark/files/snapshot-135.3.hdf5"
url_dm4 = "http://www.illustris-project.org/api/Illustris-3-dark/files/snapshot-135.4.hdf5"
url_dm5 = "http://www.illustris-project.org/api/Illustris-3-dark/files/snapshot-135.5.hdf5"
url_dm6 = "http://www.illustris-project.org/api/Illustris-3-dark/files/snapshot-135.6.hdf5"
url_dm7 = "http://www.illustris-project.org/api/Illustris-3-dark/files/snapshot-135.7.hdf5"

data0=get2(url_dm0,params)
data1=get2(url_dm1,params)
data2=get2(url_dm2,params)
data3=get2(url_dm3,params)
data4=get2(url_dm4,params)
data5=get2(url_dm5,params)
data6=get2(url_dm6,params)
data7=get2(url_dm7,params)

In [0]:
dm_data0 = h5py.File(data0 , 'r')
dm_data1 = h5py.File(data1 , 'r')
dm_data2 = h5py.File(data2 , 'r')
dm_data3 = h5py.File(data3 , 'r')
dm_data4 = h5py.File(data4 , 'r')
dm_data5 =h5py.File(data5 , 'r')
dm_data6 =h5py.File(data6 , 'r')
dm_data7 = h5py.File(data7 , 'r')

In [0]:
head_dm0 = dm_data0['PartType1']
data_dm_0 = head_dm0['Coordinates']
X_pos_dm_0 = data_dm_0[:,0]
Y_pos_dm_0 = data_dm_0[:,1]
Z_pos_dm_0 = data_dm_0[:,2]

head_dm1 = dm_data1['PartType1']
data_dm_1 = head_dm1['Coordinates']
X_pos_dm_1 = data_dm_1[:,0]
Y_pos_dm_1 = data_dm_1[:,1]
Z_pos_dm_1 = data_dm_1[:,2]

head_dm2 = dm_data2['PartType1']
data_dm_2 = head_dm2['Coordinates']
X_pos_dm_2 = data_dm_2[:,0]
Y_pos_dm_2 = data_dm_2[:,1]
Z_pos_dm_2 = data_dm_2[:,2]

head_dm3 = dm_data3['PartType1']
data_dm_3 = head_dm3['Coordinates']
X_pos_dm_3 = data_dm_3[:,0]
Y_pos_dm_3 = data_dm_3[:,1]
Z_pos_dm_3 = data_dm_3[:,2]

head_dm4= dm_data4['PartType1']
data_dm_4 = head_dm4['Coordinates']
X_pos_dm_4 = data_dm_4[:,0]
Y_pos_dm_4 = data_dm_4[:,1]
Z_pos_dm_4 = data_dm_4[:,2]

head_dm5 = dm_data5['PartType1']
data_dm_5 = head_dm5['Coordinates']
X_pos_dm_5 = data_dm_5[:,0]
Y_pos_dm_5 = data_dm_5[:,1]
Z_pos_dm_5 = data_dm_5[:,2]

head_dm6 = dm_data6['PartType1']
data_dm_6= head_dm6['Coordinates']
X_pos_dm_6 = data_dm_6[:,0]
Y_pos_dm_6 = data_dm_6[:,1]
Z_pos_dm_6 = data_dm_6[:,2]

head_dm7 = dm_data7['PartType1']
data_dm_7 = head_dm7['Coordinates']
X_pos_dm_7 = data_dm_7[:,0]
Y_pos_dm_7 = data_dm_7[:,1]
Z_pos_dm_7 = data_dm_7[:,2]

In [67]:
#merging hdf5 files
X_pos_dm = np.hstack((X_pos_dm_0,X_pos_dm_1,X_pos_dm_2,X_pos_dm_3,X_pos_dm_4,X_pos_dm_5,X_pos_dm_6,X_pos_dm_7))
Y_pos_dm = np.hstack((Y_pos_dm_0,Y_pos_dm_1,Y_pos_dm_2,Y_pos_dm_3,Y_pos_dm_4,Y_pos_dm_5,Y_pos_dm_6,Y_pos_dm_7))
Z_pos_dm = np.hstack((Z_pos_dm_0,Z_pos_dm_1,Z_pos_dm_2,Z_pos_dm_3,Z_pos_dm_4,Z_pos_dm_5,Z_pos_dm_6,Z_pos_dm_7))


X_pos_dm.shape

(94196375,)

In [61]:
import pandas as pd
dm_data = {'X' : X_pos_dm , 'Y' : Y_pos_dm , 'Z' : Z_pos_dm} 
df_dm = pd.DataFrame(data = dm_data)
df_dm.head()

            X             Y             Z
0  860.278625  26320.939453  18281.757812
1  862.896790  26320.160156  18283.193359
2  859.645874  26324.167969  18280.250000
3  861.843018  26322.359375  18286.849609
4  860.395447  26319.984375  18284.232422

In [78]:
def process(data):
    data['x_b'] = np.floor(data['X']/(75000/100))
    data['y_b'] = np.floor(data['Y']/(75000/100))
    data['z_b'] = np.floor(data['Z']/(75000/100))
    data['x_b'] = data['x_b'].astype(int)
    data['y_b'] = data['y_b'].astype(int)
    data['z_b'] = data['z_b'].astype(int)
    
    
    return data
    
dm_data = process(df_dm)
dm_data['c'] = 1
dm_data.head(10)

            X             Y             Z  x_b  y_b  z_b  c
0  860.278625  26320.939453  18281.757812    1   35   24  1
1  862.896790  26320.160156  18283.193359    1   35   24  1
2  859.645874  26324.167969  18280.250000    1   35   24  1
3  861.843018  26322.359375  18286.849609    1   35   24  1
4  860.395447  26319.984375  18284.232422    1   35   24  1
5  862.295593  26322.332031  18286.097656    1   35   24  1
6  860.981873  26320.837891  18278.978516    1   35   24  1
7  862.746643  26323.728516  18281.339844    1   35   24  1
8  862.724243  26319.615234  18281.880859    1   35   24  1
9  858.579590  26325.712891  18279.990234    1   35   24  1

In [80]:
counts = dm_data.groupby(['x_b' , 'y_b' , 'z_b'])['c'].count().reset_index(name = "count")
print(counts.shape)
print(dm_data.shape)

(999941, 4)
(94196375, 7)

In [81]:
def dataframe_to_array(data , shape):
    ids = np.ravel_multi_index(data[['x_b' , 'y_b' , 'z_b']].values.T , shape)
    val = data['count'].values
    return np.bincount(ids , val , minlength = np.prod(shape)).reshape(shape)
dm_arr = dataframe_to_array(counts , (100,100,100))
print(dm_arr.shape)

(100, 100, 100)

In [0]:

X = np.zeros((804357,8,8,8))
Y = np.zeros((804357,1))

l = 0
m = 0
for i in range(4,97):
    for j in range(4,97):
        for k in range(4,97):
            X [l,0:8,0:8,0:8] = dm_arr[i-4:i +4 , j-4: j +4 , k-4:k+4]
            Y [l,0] = arr_subhalo[i , j , k]
            l +=1

In [0]:
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test = train_test_split(X,Y, random_state = 0)